# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Create and publish a Skyhook Package

# Configures this workflow to run every time a change is pushed to the branch called `release`.
on:
  push:
    tags:
    - '**'


# Defines two custom environment variables for the workflow. These are used for the Container registry domain, and a name for the Docker image that this workflow builds.
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

# There is a single job in this workflow. It uses the composite build-package action.
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract package name from tag
        id: extract
        run: |
          PACKAGE_NAME=$(echo "${{ github.ref_name }}" | cut -f 1 -d /)
          echo "package_name=${PACKAGE_NAME}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        id: build
        uses: ./.github/actions/build-package
        with:
          package_name: ${{ steps.extract.outputs.package_name }}
          tags: |
            type=match,pattern=\d.\d.\d
          registry: ${{ env.REGISTRY }}
          image_name: ${{ env.IMAGE_NAME }}
          generate_attestation: 'true'
          save_image_info: 'false'

      - name: Get manifest information
        id: manifest
        shell: bash
        run: |
          IMAGE_NAME="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ steps.extract.outputs.package_name }}"
          echo "subject-name=${IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "digest=${{ steps.build.outputs.image_digest }}" >> $GITHUB_OUTPUT

      # Generate supply chain security attestation for the multi-platform manifest
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ steps.manifest.outputs.subject-name }}
          subject-digest: ${{ steps.manifest.outputs.digest }}
          push-to-registry: true
